:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-color: #3000CF;
  --secondary-color: #02BAE8;
  
  --background-color: #cacaca;
  
  --card-background-color: #e6e6e6;

  --text-color: #3d3d3d;

  --border-radius: 2.5rem;
  --border-radius-light: 0.5rem;

  --shadow-light: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  --shadow-medium: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  --shadow-raised: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181818;

    --card-background-color: #272727;

    --text-color: #d4d2d2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  padding: 3rem;
}

header, main, footer {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#loginTitle, #homeTitle {
  background: #02BAE8;
  background: linear-gradient(to right, #00C1E8 0%, #3000CF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 2px 3px 0px rgba(5, 95, 155, 0.43);
}

#homeTitle {
  position: absolute;
  width: fit-content;
  margin: 0 0 0 2rem;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  box-shadow: var(--shadow-raised);
  padding: 3rem;
  border-radius: var(--border-radius);
  background: var(--card-background-color);
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.passwordInputContainer {
  position: relative;
  width: 100%;
}

#forgotPasswordButton {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
}

#loginSubmitButton {
  margin-top: 1rem;
}

.tabContainer,
.tabContainer .MuiBox-root,
.tabContainer .MuiBox-root .MuiPaper-root,
#votingListContainer,
#votingListContainer .MuiPaper-root {
  border-radius: var(--border-radius);
}

.tabContainer .MuiBox-root .MuiPaper-root,
#votingListContainer .MuiPaper-root:not(.MuiAlert-standard) {
  padding: 2rem;
}

#addMusicButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialogHeader {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialogForm {
  min-width: 400px;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileMainContainer, .profileImageContainter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.profileMainContainer {
  max-width: 600px;
  margin: auto;
}

#logoutButton {
  position: absolute;
  right: 2rem;
}

.musicListButtonsContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.musicListButtonsContainer button {
  width: 10rem;
}

.MuiDivider-root::after, .MuiDivider-root::before {
  border-top: thin solid var(--text-color);
  opacity: .3;
}

.MuiFormLabel-root, .MuiFormLabel-root:is(.Mui-focused):not(.Mui-error) {
  color: var(--text-color);
  opacity: .8;
}

.MuiOutlinedInput-notchedOutline, .MuiInputBase-root:is(.Mui-focused):not(.Mui-error) .MuiOutlinedInput-notchedOutline {
  border-color: var(--text-color);
  opacity: .6;
}

.MuiInputBase-root:hover:not(.Mui-error) .MuiOutlinedInput-notchedOutline, .MuiInputBase-root:is(.Mui-focused):not(.Mui-error) .MuiOutlinedInput-notchedOutline {
  border-color: var(--text-color);
  opacity: .3;
}

.MuiTabs-flexContainer {
  justify-content: flex-end;
  margin-right: 3rem;
}

.MuiPaper-root:not(.MuiAlert-standard) {
  background: var(--card-background-color);
  color: var(--text-color);
}

.MuiInputBase-root,
.MuiTab-root,
.MuiTableCell-root,
.MuiCheckbox-root,
.MuiSvgIcon-root,
.MuiTableSortLabel-root:is(.Mui-active),
.MuiTableSortLabel-root:is(.Mui-active) .MuiTableSortLabel-icon,
.MuiToolbar-root { 
  color: var(--text-color);
}

.MuiAlert-icon .MuiSvgIcon-root,
.MuiAlert-action .MuiSvgIcon-root {
  color: unset;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (hover: none) {
  .MuiInputBase-root:not(.Mui-error) .MuiOutlinedInput-notchedOutline {
      border-color: var(--text-color);
  }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {

  body {
    padding: 3rem .5rem;
  }

  header {
    margin-bottom: 3rem;
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: unset;
    padding: 1rem;
    border-radius: unset;
  }

  .MuiTabs-root button {
    padding: .5rem;
  }
  
  .MuiTabs-flexContainer {
    margin: 0;
    justify-content: center;
  }

  .responsiveToolbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .responsiveToolbar button {
    width: 100%;
    font-size: .75rem;
    white-space: nowrap;
  }
}
